# =========================

# Node.js (backend)

# =========================

node_modules/
npm-debug.log*

# =========================

# Environment files

# =========================

.env

# =========================

# Python

# =========================

**pycache**/
*.pyc

# Virtual environment

.venv/
venv/
env/

# =========================

# AI Models (very important)

# =========================

*.h5
*.pt

# =========================

# Logs

# =========================

*.log

# =========================
